:root {
  --color-a: #000000;
  --color-b: #74BBFF;
  --color-bb: #48A5FF;
  --color-bbb: #0082ff;
  --color-bbbb: #003569;
  --color-bbbbb: #002548;
  --color-c: #5BEEAB;
  --color-cc: #3BD58F;
  --color-ccc: #009452;
  --color-cccc: #00512C;
  --color-ccccc: #00331C;
  --color-d: #FFA4B6;
  --color-dd: #FF718D;
  --color-ddd: #ff0032;
  --color-dddd: #CB0028;
  --color-ddddd: #9C001F;
  --color-e: #FFED39;
  --color-f: #FFFFFF;
}

body {
  background-color: #000;
}

.slide {
  background-color: #fff;
}

.slide[data-position="before"],
.slide[data-position="after"] {
  display: none;
}
