@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/league-spartan-master/_webfonts/leaguespartan-bold.woff2') format('woff2');
}