[data-slide="listing"] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[data-slide="listing"] .title {
  color: hsl(108, 13%, 44%);
  font-family: "League Spartan", sans-serif;
  font-size: 2.5rem;
}

[data-slide="listing"] .title a {
}

[data-slide="listing"] .title code {
}

[data-slide="listing"] .codeBlock {
  background-color: #f7f7f7;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: "Operator Mono Book", monospace;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
