[data-slide="web-components"] {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

[data-slide="web-components"] code {
  font-family: "Operator Mono Bold", monospace;
}

[data-slide="web-components"] .title {
  color: hsl(108, 13%, 44%);
  font-family: "League Spartan", sans-serif;
  font-size: 2.75rem;
  text-align: center;
}

[data-slide="web-components"] ul {
  font-family: Boogaloo, sans-serif;
  list-style: none;
  padding: 0;
  margin: 2rem 0 0;
  max-width: 80%;
  font-size: 2rem;
}

[data-slide="web-components"] li {
  padding: 0;
}
